<template name="addItem">
    <div id="modal_addToCollection" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"></div>
          <div class="modal-body">
            <h1>Add To Collection</h1>
            <div class="collectionList">
              {{#each wishlists}}
              <div class="collection clearfix">
                <div class="slideBox">
                  <input type="checkbox" value="{{_id}}" id="{{_id}}" name="{{_id}}" {{isChecked}}/>
                  <label for="{{_id}}"></label>
                </div>
                <span>{{name}}</span>
                <div class="thumb thumb-0"></div>
                <div class="thumb thumb-1"></div>
                <div class="thumb thumb-2"></div>
                <div class="thumb thumb-3"></div>
              </div>
              {{/each}}
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="input-group addNewCollection-wrapper">
                  <input id="collectionName" type="text" class="form-control" placeholder="Add a new collection">
                  <span class="input-group-btn">
                    <button id="addCollection" class="btn btn-default" type="button">Add</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>