<template name="listItems">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Item Name</th>
                        <th>Amazon URL</th>
                        <th>Remove Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each item}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{name}}</td>
                        <td><a href="{{url}}" target="_blank">View</a></td>
                        <td><a class="remove">Remove</a></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>