<template name="product">
    <div class="productCard">
    	<div class="productCard_topHeader">
    		<h1 class="productCard_price">${{price}}</h1>
        <div class="cardAdds_interact">
          <span class="fa fa-heart cardAdds_like {{liked}}"></span>
          <span class="fa fa-plus cardAdds_collect"></span>
        </div>
    	</div>
        <div class="productCard_img" style="background-image:url({{thumb}})"></div>
        <div class="productCard_title">{{name}}</div>
        <div class="cardAdds_community">
        	<div class="cardAdds_members clearfix">
                {{{likes}}}
                <div class="cardAdds_memberNumber">{{likeCount}}</div>
        	</div>
        </div>
    </div>
</template>